<%- include('./partials/header') %>
<% if (!user) { %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center pink-text text-lighten-2">Welcome to <%= title %></h1>
    <div class="row center">
      <h5 class="header col s12 light">A place to keep track of all your mushroom growing processes.</h5>
    </div>
    <div class="row center">


      <a href="/auth/google" class="btn-large waves-effect waves-light pink lighten-2">Login with Google</a>



    </div>
    <br><br>

  </div>
</div>
<% } else { %>


<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

      <% cards.forEach(c => { %>


      <div class="row">
        <div class="col s12 m4 card">
          <h5 class="center"><%= c.variety.name %></h5>
          <em>(<%= c.variety.latin %>)</em>
          <p class="light">
            <%= c.type %>
          </p>
          <p class="light">
            <%= c.label %>
          </p>
          <p class="light">
            <%= c.date %>
          </p>

          <!-- <a class="waves-effect waves-light btn pink lighten-2" href="/cards/<%= c._id %>/edit">edit</a> -->
          <a class="waves-effect waves-light btn pink lighten-2" href="/cards/<%= c._id %>">view</a>

        </div>
        <% }); %>

      </div>
      <br><br>

      <a class="waves-effect waves-light btn-large pink lighten-2" href="/cards/new"><i class="material-icons right">add</i>new
        card</a>

    </div>
</div>
</div>



  <% } %>

  <%- include('./partials/footer') %>