<%- include('./partials/header') %>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>

        <div class="row center">
            <div class="card">
                <div class="card-content new-card">
                    <form action="/cards" method="POST" name="mycelium">
                        <div class="input-field col s12">
                            <select name="variety">
                                <option value="" selected>Select mushroom variety</option>
                                <% vars.forEach( v => { %>
                                <option value="<%= v._id %>"><%= v.name %></option>
                                <% }); %>
                            </select>
                        </div><br><br><br><br>
                        <div>
                            <p>or</p>
                            <div class="input-field col s12">
                                <input placeholder="Mushroom variety" name="new_variety" type="text" class="validate">
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="latin" type="text" class="validate" name="new_latin">
                            </div><br><br><br><br>
                            <div class="input-field col s12">
                                <input placeholder="abbriviation" type="text" class="validate" name="new_abbr">
                            </div><br><br><br><br>
                        </div>

                        <div>
                            <div class="input-field col s12">
                                <input placeholder="Add generation" type="text" class="validate" name="gen">
                                <!-- <label for="mycelium">Generation</label> -->
                            </div>
                        </div>

                        <div>
                            <div class="input-field col s12">
                                <input placeholder="Add suffix" type="text" class="validate" name="suf">
                                <!-- <label for="mycelium">Suffix</label> -->
                            </div>
                        </div>



                        <div class="input-field col s12">
                            <select name="type">
                                <option value="" disabled selected>Select type</option>
                                <% types.forEach( t => { %>
                                <option value="<%= t %>"><%= t %></option>
                                <% }); %>
                            </select>

                        </div><br><br><br><br>


                        <div>
                            <div class="input-field col s12">

                                <input placeholder="" type="date" class="validate" form>
                                <!-- <label for="mycelium">date</label> -->
                            </div>
                        </div><br><br><br><br>

                        

                        <button class="waves-effect waves-light btn-large blue-grey lighten-2"
                            type="submit">create</button>
                    </form>



                </div>
            </div>
        </div>
        <br><br>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
    

</script>
<%- include('./partials/footer') %>