<%- include('./partials/header') %>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>

        <div class="row center">
            <div class="card">
                <div class="card-content new-card">
                    <form action="/cards" method="POST" name="mycelium" class="new-card">
                        <div class="input-field col s12">
                            <select name="variety">
                                <option value="" selected>Select mushroom species</option>
                                <% vars.forEach( v => { %>
                                <option value="<%= v._id %>"><%= v.name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="light-blue-bg">
                            <p>or</p>
                            <div class="input-field col s12">
                                <input placeholder="Mushroom species" name="new_variety" type="text" class="validate">
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Scientific name" type="text" class="validate" name="new_latin">
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Abbreviation" type="text" class="validate" name="new_abbr">
                            </div>
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Add generation" type="text" class="validate" name="gen">
                        </div>

                        <div class="input-field col s12">
                            <input placeholder="Add suffix" type="text" class="validate" name="suf">
                        </div>



                        <div class="input-field col s12">
                            <select name="type">
                                <option value="" disabled selected>Select type</option>
                                <% types.forEach( t => { %>
                                <option value="<%= t %>"><%= t %></option>
                                <% }); %>
                            </select>
                        </div>


                        <div class="input-field col s12">
                            <input placeholder="" type="date" class="validate" name="date">
                        </div>



                        <button
                            class="waves-effect waves-light btn-large btn-flat blue-grey lighten-2 white-text bottom-btn"
                            type="submit">create</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
<%- include('./partials/footer') %>