<%- include('./partials/header') %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <div class="row ">
      <div class="card">
        <br><br>
        <h3 class="header center blue-grey-text text-lighten-2"><%= mycelium.variety.name %></h3>
        <h5 class="header center blue-grey-text text-lighten-2"><em>(<%= mycelium.variety.latin %>)</em></h5>

        <div class="card-content">
          <p><b>Type: </b><%= mycelium.type %></p>
          <p><b>Date: </b><%= moment(mycelium.date).format('MMMM Do, YYYY') %></p>
          <p>
            <b>Label:</b> <%= mycelium.variety.abbr %>
            <% if (mycelium.gen) { %>
                <%= `:${mycelium.gen}` %>
                <% if (mycelium.suf){ %>
                <%= `:${mycelium.suf}` %>
                <% } %>
              <% } %>
              </p>
          <% if(mycelium.parent) { %>
          <p><b>Parent: </b><%= mycelium.parent %></p>
          <% } %>
        </div>

        <ul class="collapsible expandable">
            <!-- <li>
                <div class="collapsible-header blue-grey lighten-2 white-text"><i class="material-icons">account_tree</i>Add Parent</div>
                <div class="collapsible-body log">
                  <div>
                  <form action="/cards/<%= 
                  mycelium._id %>" method="POST">
                    <input type="text" placeholder="Type current status here" name="text">
                    <button class=" waves-effect waves-light btn-large blue-grey lighten-2 btn-flat white-text" href="/">add status</button>
                  </form>
                </div>
                </div>
              </li> -->
          <% if(mycelium.log.length > 0) { %>
          <li class="active">
            <div class="collapsible-header blue-grey lighten-2 white-text"><i class="material-icons">list_alt</i>Status
              Log</div>
            <div class="collapsible-body log">

              <% mycelium.log.forEach( (m, idx) => {  %>
                <div>
                <div class="text">
                  <p><b>Date: </b><%= moment(m.createdAt).format('MMMM Do, YYYY') %></p>
                  <p><b>Log: </b><%= m.text %></p>
                  <a class="waves-effect waves-light btn-small blue-grey lighten-2" idx="<%= idx %>" href="#">edit log</a>
                  <form action="/cards/<%= 
                  mycelium._id %>/logs/<%= idx %>?_method=DELETE" method="POST" name="delete">
                    <button class="waves-effect waves-light btn-small blue-grey lighten-2 white-text"
                      href="/">delete</button>
                  </form>
                </div>


                <div class="edit hide">
                  <p><b>Date: </b><%= moment(m.createdAt).format('MMMM Do, YYYY') %></p>
                  <form action="/cards/<%= 
                  mycelium._id %>/logs/<%= idx %>?_method=PUT" method="POST">
                    <input type="text" placeholder="" name="text" value="<%= m.text %>">
                    <!-- <input type="hidden" placeholder="" name="_id" value="<%= m._id %>"> -->
                    <button class=" waves-effect waves-light btn-small blue-grey lighten-2 btn-flat white-text"
                      href="/">save log</button>
                  </form>
                </div>
              </div>
              <% }) %>



            </div>
          </li>
          <% } %>
          <li>
            <div class="collapsible-header blue-grey lighten-2 white-text"><i class="material-icons">edit</i>Add Status</div>
            <div class="collapsible-body log">
              <div>
              <form action="/cards/<%= 
              mycelium._id %>/logs/" method="POST">
                <input type="text" placeholder="Type current status here" name="text">
                <button class=" waves-effect waves-light btn-large blue-grey lighten-2 btn-flat white-text" href="/">add status</button>
              </form>
            </div>
            </div>
          </li>
        </ul>


        <div class="bottom-form-buttons">
          <form action="/cards/<%= 
        mycelium._id %>?_method=PUT" method="POST" name="current">
            <button class="waves-effect waves-light btn-large blue-grey lighten-2 btn-flat white-text" href="/">
              <% if(mycelium.current === true) { %>
              move to archive
              <%} else { %>
              make current
              <%}; %>

            </button>
          </form>



          <form action="/cards/<%= mycelium._id %>?_method=DELETE" method="POST" name="delete" class="">
            <button class="waves-effect waves-light btn-large blue-grey lighten-2 btn-flat white-text"
              href="/">delete</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
<script>


</script>
<%- include('./partials/footer') %>