<%- include('./partials/header') %>
<% if (!user) { %>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center blue-grey-text text-lighten-2">Welcome to <%= title %></h1>
    <div class="row center">
      <h5 class="header col s12 light">A place to keep track of all your mushroom growing processes.</h5>
    </div>
    <div class="row center">


      <a href="/auth/google" class="btn-large waves-effect waves-light blue-grey lighten-2">Login with Google</a>



    </div>
    <br><br>

  </div>
</div>
<% } else { %>


<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->

      <% cards.forEach(c => { %>


      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-content">
              <h5 class="center"><%= c.variety.name %></h5>
              <em>(<%= c.variety.latin %>)</em>
              <p class="light">
                <%= c.type %>
              </p>
              <p class="light">
                <!-- <%= c.label %> -->
              </p>
              <p class="light">
                <%= c.date %>
              </p>
            </div>

            <!-- <a class="waves-effect waves-light btn blue-grey lighten-2" href="/cards/<%= c._id %>/edit">edit</a> -->
            <a class="waves-effect waves-light btn blue-grey lighten-2" href="/cards/<%= c._id %>">view</a>

          </div>
        </div>
      </div>
      <% }); %>

      <br><br>
      <div class="row">
        <div class="col s12 m4">
          <a class="waves-effect waves-light btn-large blue-grey lighten-2" href="/cards/new"><i
              class="material-icons right">add</i>new
            card</a>
        </div>
      </div>

    </div>
  </div>
</div>



<% } %>

<%- include('./partials/footer') %>